<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias alias="demo" type="com.bs.spring.demo.model.dto.Demo"/>
		<typeAlias alias="strArr" type="com.bs.spring.common.StringArrayTypeHandler"/>
		<typeAlias alias="member" type="com.bs.spring.member.model.dto.Member"/>
		<typeAlias alias="memo" type="com.bs.spring.memo.model.dto.Memo"/>
		<typeAlias alias="board" type="com.bs.spring.board.model.dto.Board"/>
		<typeAlias alias="attachment" type="com.bs.spring.board.model.dto.Attachment"/>
	</typeAliases>
</configuration>
